.addCharacterSection {
    display: flex;
    justify-content: center;
    width: 100%;
    min-width: 800px;
}

.addCharacterForm {
    max-width: 800px;
}

.addCharacterBtn {
    padding: var(--small);
}

.autoFillForm {
    min-width: 100%;
}

.manualForm {
    width: 100%;
    margin-top: var(--medium);
}

.charDisplay {
    display: flex;
    flex-direction: column;
    width: 100%;
}

.leaderboardLink {
    display: flex;
    flex-direction: column;
    align-items: center;
    height: 228px;
    padding: var(--small);
    margin-left: var(--medium);
}

.orDivider {
    line-height: 2;
}

.characterPreview {
    max-width: 100%;
    margin-left: var(--medium);
}