.modalBackground {
    width: 100vw;
    height: 100vh;
    background-color: rgba(200, 200, 200);
    position: fixed;
    display: flex;
    justify-content: center;
    align-items: center;
    margin-top: -150px;
}

.modalContainer {
    width: 600px;
    height: 700px;
    border-radius: 12px;
    background-color: var(--dark75);
    box-shadow: rgba(0, 0, 0, 0.35) 0px 5px 15px;
    display: flex;
    flex-direction: column;
    padding: 25px;
    overflow-y:scroll;
}

.modalContainer .title {
    display: inline-block;
    text-align: center;
    margin-top: 10px;
}

.modalContainer .body {
    display: flex;
    justify-content: center;
    align-items: center;
    font-size: 1.7rem;
    text-align: center;
}

.modalContainer .footer {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    align-items: center;
    font-size: 1.4rem;
    text-align: center;
}

.modalContainer a {
    color: yellow;
}

.modalContainer button {
    width: 150px;
    height: 45px;
    margin: 5px;
}