.groupContainer {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    background: var(--dark75);
    border-radius: var(--tiny);
    width: 100%;
    padding: var(--medium) 0px 0px var(--medium);
}

.groupBanner {
    display: flex;
    justify-content: space-between;
    align-items: flex-start;
    background: var(--dark75);
    border-radius: var(--tiny);
    width: 100%;
    padding: var(--medium);
    margin-bottom: var(--medium);
}

.groupTitle {
    display: flex;
    flex-direction: column;
    width: 50%;
}

.groupTitle h1 {
    margin: -10px 0px 0px 0px;
}

.groupDetails {
    display: flex;
    flex-direction: column;
    align-items: flex-end;
    width: 50%;
}

.groupDetails p {
    margin-bottom: var(--small);
}

.groupDetails p:last-of-type {
    margin-bottom: 0px;
}

.groupBody {
    display: flex;
    justify-content: space-between;
    width: 100%;
}

.applicationSection {
    display: flex;
    flex-wrap: wrap;
    flex-direction: column;
    height: auto;
    margin-bottom: var(--medium);
    margin-right: var(--medium);
}

.appSectionRow {
    display: flex;
    justify-content: space-between;
}

.appSectionBtn {
    margin: auto 0px auto var(--small);
}

.appCharSelect {
    justify-self: flex-end;
    max-width: 400px;
    margin-left: auto;
}

.groupMemberSection {
    display: flex;
    flex-direction: column;
}

.allCharacters {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    border-radius: var(--tiny);
    width: 100%;
}

.groupMemberSection h2 {
    margin-bottom: var(--small);
}

.groupMemberCard {
    max-width: 50%;
    padding-right: var(--medium);
    margin-bottom: var(--medium);
}

.discordWidget {
    display: flex;
    height: fit-content;
    width: 50%;
    border: 1px solid var(--accent);
    border-radius: var(--tiny);
    margin-right: var(--medium);
    margin-bottom: var(--medium);
}

.discordBtn {
    height: 50px;
    width: 250px;
    margin: var(--tiny);
}

.defaultSpan{
    margin-left: var(--tiny);
}

.groupOwnerBtns {
    display: flex;
    margin-top: var(--medium);
}

.groupOwnerBtns button {
    width: fit-content;
    margin-right: var(--small);
}

.deleteGroupBtn {
    position: absolute;
    right: 70px;
    color: var(--red);
}

.deleteGroupBtn:hover {
    background: var(--red);
    color: var(--light);
}