.groupBanner {
    display: flex;
    justify-content: space-between;
    align-items: flex-start;
    background: var(--dark75);
    border-radius: var(--tiny);
    width: 100%;
    padding: var(--medium);
    margin-bottom: var(--medium);
}

.groupTitle {
    display: flex;
    flex-direction: column;
    width: 50%;
}

.groupTitle h1 {
    margin: -10px 0px 0px 0px;
}

.groupDetails {
    display: flex;
    flex-direction: column;
    align-items: flex-end;
    width: 50%;
}

.groupDetails p {
    margin-bottom: var(--small);
}

.groupDetails p:last-of-type {
    margin-bottom: 0px;
}

.groupBody {
    display: flex;
    justify-content: space-between;
    width: 100%;
}

.applicationSection {
    display: flex;
    flex-direction: column;
    border: 1px solid var(--accent);
    border-radius: var(--tiny);
    height: auto;
    padding: var(--small);
    margin-right: var(--medium);
    margin-bottom: var(--medium);
}

.groupMemberSection {
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    width: 50%;
}

.groupMemberSection h2 {
    margin-bottom: var(--small);
}

.groupMemberCard {
    margin-right: var(--medium);
    margin-bottom: var(--medium);
}

.groupMemberCard:last-of-type {
    margin-bottom: 0px;
}

.discordWidget {
    display: flex;
    height: fit-content;
    width: 50%;
    border: 1px solid var(--accent);
    border-radius: var(--tiny);
}

.discordBtn {
    height: 50px;
    width: 250px;
    margin: var(--tiny);
}

.editGroupBtn {
    height: 50px;
    width: 250px;
    margin: var(--tiny);
}
.defaultSpan{
    margin-left: var(--tiny);
}