.tagInput {
    display: flex;
}

#tags {
    width: 100%;
    display: inline-block;
    border: 1px solid #ccc;
    border-radius: var(--tiny);
    box-sizing: border-box;
    margin: var(--tiny) 0px var(--small) 0px;
}

#tagBtn {
    width: 25%;
    margin: var(--tiny) 0px var(--small) var(--small);
}

.chosenTags {
    display: flex;
    flex-wrap: wrap;
    margin-bottom: var(--small);
}

.chosenTags p {
    display: flex;
    align-items: center;
    transition: all 0.3s ease;
    color: var(--dark);
    background-color: var(--light90);
    border-radius: 5px;
    user-select: none;
    line-height: 1;
    padding: 5px 10px;
    margin: 5px 5px 5px 0px;
}

.chosenTags p:hover {
    cursor: pointer;
}

/* remove tag */
.chosenTags p:after {
    transition: all 0.3s ease;
    content: "✕";
    margin-left: 5px;
    color: var(--dark50);
    font-family: inherit;
    font-size: 12px;
    font-weight: bold;
}

.chosenTags p:hover:after {
    color: var(--dark);
}
