@keyframes stretch {

    from {
        width: 50px;
    }

    50% {
        width: 60px;
    }

    to {
        width: 50px;
    }

}

@keyframes collapse {

    from {
        height: 450px;
    }

    to {
        height: 100%;
    }

}