.modalBackground {
    width: 100vw;
    height: 101vh;
    background-color: var(--opdarkgray);
    -webkit-backdrop-filter: blur(20px);
    backdrop-filter: blur(20px);
    position: fixed;
    display: flex;
    justify-content: center;
    align-items: center;
    margin-top: -150px;
    animation: fade-in 0.5s;
    z-index: 99;
}

.modalContainer {
    height: fit-content;
    max-height: 90vh;
    max-width: 90vw;
    border-radius: 12px;
    box-shadow: rgba(0, 0, 0, 0.35) 0px 5px 15px;
    background-color: var(--dark50);
    display: flex;
    flex-direction: column;
    padding: 25px;
    overflow-y: scroll;
    -ms-overflow-style: none;
    scrollbar-width: none;
    animation: fade-up 0.5s backwards 0.4s;
}

.modalContainer::-webkit-scrollbar {
    display: none;
}

.footer {
    display: flex;
    justify-content: flex-end;
    width: 100%;
}

.title  {
    text-align: center;
}

.footerDis{
    display: flex;
    flex-direction: column;
}

.body {
    display: flex;
    justify-content: center;
    margin-bottom: var(--small);
    line-height: 1.5;
    color: white;
    text-align: center;
}

.body a{
    color: var(--accent)
}

.subTitle {
    border-bottom: 1px solid white;
    margin-bottom: 7px;
    margin-left: auto;
    margin-right: auto;
    width: max-content;
}

.editCharacterSection {
    display: flex;
    justify-content: center;
    width: 100%;
    min-width: 800px;
    max-width: 1800px;
}

.editCharacterForm {
    max-width: 800px;
}

.editCharFooter {
    display: flex;
    width: 100%;
}

.editCharFooter button {
    margin: var(--medium) var(--small) 0px 0px;
    width: 100%;
}

.editCharFooter button:last-of-type {
    margin: var(--medium) 0px 0px 0px;
    width: 100%;
}

.charEditSpecs {
    width: 100%;
}

.cancelDeleteBtn {
    margin: var(--small) var(--small) 0 0;
}

.confirmDeleteBtn {
    width: fit-content;
    color: var(--red);
}

.confirmDeleteBtn:hover {
    color: var(--light);
    background: var(--red);
}