.App {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    min-height: 100vh;
    color: var(--accent);
    font-size: 18px;
}

.page {
    display: flex;
    flex-direction: column;
    align-items: center;
    width: 100%;
    padding: 0px var(--large);
    margin: 0px 0px auto 0px;
}

/* page backgrounds */
.bgTree {
    background: linear-gradient(hsl(0, 0%, 10%, 0.9), hsl(0, 0%, 10%, 0.25)), url('../../public/assets/images/bg-tree.jpg');
    background-repeat: no-repeat;
    background-size: cover;
    background-attachment: fixed;
}

.bgGiant {
    background: linear-gradient(hsl(0, 0%, 10%, 0.9), hsl(0, 0%, 10%, 0.25)), url('../../public/assets/images/bg-giant.jpg');
    background-repeat: no-repeat;
    background-size: cover;
    background-attachment: fixed;
}

.bgSky {
    background: linear-gradient(hsl(0, 0%, 10%, 0.9), hsl(0, 0%, 10%, 0.25)), url('../../public/assets/images/bg-sky.jpg');
    background-repeat: no-repeat;
    background-size: cover;
    background-attachment: fixed;
}

.bgCity {
    background: linear-gradient(hsl(0, 0%, 10%, 0.9), hsl(0, 0%, 10%, 0.25)), url('../../public/assets/images/bg-city.jpg');
    background-repeat: no-repeat;
    background-size: cover;
    background-attachment: fixed;
}

/* global styles */
form {
    display: flex;
    flex-direction: column;
    width: 100%;
    width: 800px;
    max-width: 100%;
    padding: var(--medium);
    border: 1px solid var(--accent);
    border-radius: var(--tiny);
    padding: var(--small);
}

input,
select {
    height: 50px;
    width: 100%;
    padding: 10px 15px;
    margin: var(--tiny) 0px var(--medium) 0px;
    display: inline-block;
    border: 1px solid #ccc;
    border-radius: var(--tiny);
    box-sizing: border-box;
}

select:invalid {
    color: var(--gray);
}

input:invalid ~ span:after {
    content: '✖';
    padding: 5px;
}

input:valid ~ span:after {
    content: '✓';
    padding: 5px;
}

button {
    border-radius: var(--tiny);
    width: 100%;
    height: 50px;
    cursor: pointer;
    border: none;
    display: flex;
    align-items: center;
    justify-content: center;
    background: radial-gradient(ellipse farthest-corner at left top, #ffdb58 0%, #FDB931 8%, #f4c430 30%, #e1ad21 40%, transparent 80%),
        radial-gradient(ellipse farthest-corner at right bottom, #f0dc82 0%, #f7e98e 8%, #ffd300 25%, #fcc200 62.5%, #fcc200 100%);
    background-size: 200% 100%;
    background-position: left;
    background-repeat: no-repeat;
    transition: 500ms;
    font-weight: 700;
}

button:hover {
    background-position: right;
}

button:focus {
    outline: none;
}

h1 {
    margin-bottom: var(--medium);
}

.hidden {
    display: none;
    transition: all 3s ease;
}

.visible {
    transition: all 3s ease;
}

.darkContainer {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    background: var(--dark75);
    border-radius: var(--tiny);
    width: 100%;
    padding: var(--large);
}

.darkContainerWrapped {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    background: var(--dark75);
    border-radius: var(--tiny);
    padding: var(--large);
    margin-bottom: var(--medium);
}

.darkContainerWrapped:last-of-type {
    margin-bottom: 0;
}

/* page headers with tabs */
.tabHeader {
    display: flex;
    justify-content: space-between;
    align-items: center;
    background: var(--dark75);
    border-radius: var(--tiny);
    height: 100px;
    width: 100%;
    padding: var(--medium);
    margin-bottom: var(--medium);
}

.tabs {
    display: flex;
    justify-content: flex-end;
    align-items: center;
    margin: 0px 0px 0px auto;
}

.tab {
    display: none;
}

.tabLabel {
    transition: all 0.3s ease;
    padding: 10px var(--tiny);
    margin: 0px var(--small);
}

.tabLabel:hover {
    cursor: pointer;
    box-shadow: inset 0px -15px 15px -20px var(--accent);
}

.tabDivider {
    border: 0.5px solid var(--gray);
    height: 30px;
    margin: 0px var(--small);
}

.activeTab {
    box-shadow: inset 0px -20px 15px -20px var(--accent) !important;
}