.App {
   display: flex;
   flex-direction: column;
   justify-content: space-between;
   min-height: 100vh;
   color: var(--accent);
   font-size: 18px;
}

.page {
   display: flex;
   flex-direction: column;
   align-items: center;
   width: 100%;
   padding: 0px var(--large);
   margin: 0px 0px auto 0px;
}

/* page backgrounds */
.Groups {
   background: linear-gradient(hsl(0, 0%, 10%, 0.9), hsl(0, 0%, 10%, 0.25)), url('../../public/assets/images/bg-tree.jpg');
   background-repeat: no-repeat;
   background-size: cover;
   background-attachment: fixed;
}

.Profile {
   background: linear-gradient(hsl(0, 0%, 10%, 0.9), hsl(0, 0%, 10%, 0.25)), url('../../public/assets/images/bg-giant.jpg');
   background-repeat: no-repeat;
   background-size: cover;
   background-attachment: fixed;
}

.Login {
   background: linear-gradient(hsl(0, 0%, 10%, 0.9), hsl(0, 0%, 10%, 0.25)), url('../../public/assets/images/bg-sky.jpg');
   background-repeat: no-repeat;
   background-size: cover;
   background-attachment: fixed;
}

.SignUp {
   background: linear-gradient(hsl(0, 0%, 10%, 0.9), hsl(0, 0%, 10%, 0.25)), url('../../public/assets/images/bg-city.jpg');
   background-repeat: no-repeat;
   background-size: cover;
   background-attachment: fixed;
}

/* global styles */
form {
    border: 1px solid var(--accent);
    border-radius: var(--tiny);
    padding: var(--small);
}

input,
select {
    height: 50px;
    width: 100%;
    padding: 10px 15px;
    margin: var(--tiny) 0px var(--medium) 0px;
    display: inline-block;
    border: 1px solid #ccc;
    border-radius: var(--tiny);
    box-sizing: border-box;
}

select:invalid {
    color: var(--gray);
}

button {
    transition: all 0.2s ease;
    border-radius: var(--tiny);
    background-color: var(--light90);
    color: var(--dark);
    padding: 14px 20px;
    border: none;
    cursor: pointer;
    height: 50px;
    width: 100%;
}

button:hover {
    transition: all 0.3s ease;
    opacity: 0.8;
}

.hidden {
   display: none;
   transition: all 3s ease;
}

.visible {
   transition: all 3s ease;
}