:root {

    /* colors */
    --light: white;
    --light90: rgba(255, 255, 255, 0.9);
    --light75: rgba(255, 255, 255, 0.75);
    --light50: rgba(255, 255, 255, 0.5);
    --light25: rgba(255, 255, 255, 0.25);
    --light10: rgba(255, 255, 255, 0.1);

    --dark: black;
    --dark90: rgba(0, 0, 0, 0.9);
    --dark75: rgba(0, 0, 0, 0.75);
    --dark50: rgba(0, 0, 0, 0.5);
    --dark25: rgba(0, 0, 0, 0.25);
    --dark10: rgba(0, 0, 0, 0.1);

    --gray: gray;
    --lightgray: rgb(215, 215, 215);
    --darkgray: rgb(30, 30, 30);

    --accent: hsl(40, 90%, 70%);
    --accent90: ;
    --accent75: ;
    --accent50: ;
    --accent25: ;
    --accent10: ;

    --red: rgb(220, 0, 0);
    --green: rgb(0, 180, 0);

    /* box shadow */
    --shadow: 0px 0px 30px rgba(0, 0, 0, 0.25);

    /* sizes */
    --tiny: 5px;
    --small: 15px;
    --medium: 30px;
    --large: 60px;
    --huge: 120px;

}