.FAQanswer{
    margin-bottom: var(--medium);
}

.FAQ{
    width: 100%;
    text-align: left;
    margin: var(--medium);
}

.FAQMain{
    width: 800px;
    max-width: 100%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    background: var(--dark75);
    border-radius: var(--tiny);
    padding: var(--medium);
}

.FAQMain h1 {
    margin-bottom: 0;
}

.FAQ .faqLink {
    color: var(--accent);
}

.emailLink {
    font-weight: bold;
}

/* large screens */
@media screen and (max-width: 1200px) {
}

/* small screens */
@media screen and (max-width: 1024px) {}

/* tablets */
@media screen and (max-width: 768px) {

    .FAQMain {
        padding: var(--medium);
    }

}

/* phones */
@media screen and (max-width: 480px) {}