.FAQanswer{
    margin-bottom: var(--medium);
}

.FAQ{
    width: 100%;
    text-align: left;
    margin-left: var(--medium);
}

.FAQMain{
    width: 50%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    background: var(--dark75);
    border-radius: var(--tiny);
    padding: var(--medium);
}

.FAQ .faqLink {
    color: var(--accent);
}

.emailLink {
    font-weight: bold;
}

@media screen and (max-width: 1024px) {
    .FAQMain{
        width: 80%;
    }
}