header {
   display: flex;
   justify-content: space-between;
   align-items: flex-start;
   padding: var(--large) var(--large) var(--medium) var(--large);
}

.siteTitle {
   display: flex;
}

.siteTitle h1 {
    margin: 0px;
}

.lostArkIcon {
   width: 50px;
   object-fit: contain;
   margin-right: var(--small);
}