.welcomeMessage {
    margin-left: var(--small);
}

.allMyCharacters {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    background: var(--dark75);
    border-radius: var(--tiny);
    width: 100%;
    padding: var(--medium);
}

.myCharacterCard {
    width: 50%;
    padding: var(--small);
}