.welcomeMessage {
    margin-left: var(--small);
}

.allMyCharacters {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    border-radius: var(--tiny);
    width: 100%;
}

.myCharacterCard {
    width: 100%;
    padding: var(--small);
}


@media screen and (min-width: 1400px) {
    .myCharacterCard {
        width: 50%;
    }
}
