footer {
   display: flex;
   justify-content: center;
   align-items: center;
   width: 100%;
   padding: var(--large);
   margin: 0px auto;
}

footer p:hover{
   cursor: pointer;
}

/* large screens */
@media screen and (max-width: 1200px) {}

/* small screens */
@media screen and (max-width: 1024px) {}

/* tablets */
@media screen and (max-width: 768px) {
    footer {
        padding: var(--medium);
     }
}

/* phones */
@media screen and (max-width: 480px) {}