.groupPreview {
    display: flex;
    justify-content: space-between;
    border-radius: var(--tiny);
    background-attachment: local;
    height: 200px;
    width: 100%;
    padding: var(--medium);
    margin-bottom: var(--medium);
}

.groupPreview:hover {
    cursor: pointer;
}

.groupPreview:last-of-type {
    margin-bottom: 0;
}

.groupPreviewColumnLeft {
    display: flex;
    flex-direction: column;
    align-items: flex-start;
}

.groupPreviewColumnRight {
    display: flex;
    flex-direction: column;
    align-items: flex-end;
    text-align: right;
}

.previewApplyBtn {
    margin: auto 0px 0px 0px
}

.savedTags {
    display: flex;
    justify-content: center;
    flex-wrap: wrap;
    margin-bottom: var(--small);
}

.savedTagsInactive {
    display: flex;
    align-items: center;
    transition: all 0.3s ease;
    color: var(--dark);
    background-color: var(--light90);
    border-radius: 5px;
    user-select: none;
    line-height: 1;
    padding: 5px 10px;
    margin: 5px 5px 5px 0px;
}

.savedTagsActive {
    display: flex;
    align-items: center;
    transition: all 0.3s ease;
    color: var(--dark);
    background-color: var(--accent);
    border-radius: 5px;
    user-select: none;
    line-height: 1;
    padding: 5px 10px;
    margin: 5px 5px 5px 0px;
}

.savedTagsInactive:hover {
    cursor: pointer;
    background-color: var(--accent);
}

.savedTagsActive:hover {
    cursor: pointer;
    background-color: var(--light90);
}