.notifications {
   display: none;
   flex-direction: column;
   position: absolute;
   background: var(--dark75);
   box-shadow: var(--shadow);
   transform: translateX(-65px);
   width: 300px;
   max-height: 250px;
   overflow-y: scroll;
   -ms-overflow-style: none;
   scrollbar-width: none;
}

.notifications::-webkit-scrollbar {
   display: none;
}

.notifications:hover {
   display: flex;
}

.notificationItem {
   user-select: none;
   font-size: 0.8em;
}

.notificationItem:last-of-type {
   margin-bottom: 0;
}

.unread {
   color: white;
   cursor: pointer;
   background-color: var(--light25);
   padding: var(--small);
}

.read {
   cursor: pointer;
   padding: var(--small);
}

.groupName {
   color: var(--accent);
   cursor: pointer;
}

.pointer {
   cursor: pointer;
}